<div class="bg-black pb-[20px]">
    <div class="content_form_search overflow-hidden lg:flex lg:pr-[50px] bg-black pb-[20px] pt-[50px] md:pb-[20px] md:pt-[50px]">
        <h4 class="text-[30px] text-white text-center pb-[10px] md:text-left md:px-[40px]">Otros herramientas que te podrian interesar</h4>
        <div class="px-[40px] sm:px-[115px] lg:px-0 lg:w-[350px] lg:flex lg:items-end lg:ml-[-60px] lg:z-10">
             </div>
    </div>
    <div class="content-list solution">
        <ul class="list-course px-[40px] pt-[30px] grid grid-cols-1 lg:grid-cols-2 gap-[35px] xl:grid-cols-3 lg:gap-[50px] pb-[30px] md:pb-[30px]">
            <li class="item-solution">
                <div (click)="openPdf(tabla_de_equivalencias)" style="cursor: pointer;" class="item-box flex p-[15px] sm:p-[30px] border-[1px] border-white border-solid items-center justify-between lg:block lg:p-[20px]">
                    <div class="flex items-center">
                        <img  class="w-[47px]" src="../../../assets/svg/tabla 1.svg" alt="impuestos">
                        <p class="item-title uppercase text-[20px] text-white ml-[20px] sm:ml-[50px] max-w-[330px] lg:ml-[20px] lg:text-[14px]">TABLA DE EQUIVALENCIAS Y DOSIFICACI&Oacute;N</p>
                    </div>
                    <img class="w-[27px] lg:mt-[20px] lg:ml-auto lg:mr-0 lg:w-[36px]" src="../../../assets/icons/arrow-right.png" alt="ver">
                </div>
            </li>
            <li class="item-solution">
                <div (click)="openPdf(planos)" style="cursor: pointer;" class="item-box flex p-[15px] sm:p-[30px] border-[1px] border-white border-solid items-center justify-between lg:block lg:p-[20px]">
                    <div class="flex items-center">
                        <img  class="w-[47px]"src="../../../assets/svg/plano 1.svg" alt="plano casas">
                        <p class="item-title uppercase text-[20px] text-white ml-[20px] sm:ml-[50px] max-w-[330px] lg:ml-[20px] lg:text-[14px]">PLANOS CASAS</p>
                    </div>
                    <img class="w-[27px] lg:mt-[20px] lg:ml-auto lg:mr-0 lg:w-[36px]" src="../../../assets/icons/arrow-right.png" alt="ver">
                </div>
            </li>
            <li class="item-solution">
                <div (click)="openPdf(manual_de_construccion)" style="cursor: pointer;" class="item-box flex p-[15px] sm:p-[30px] border-[1px] border-white border-solid items-center justify-between lg:block lg:p-[20px]">
                    <div class="flex items-center">
                        <img  class="w-[47px]"src="../../../assets/svg/manual 1.svg" alt="manual construcción">
                        <p class="item-title uppercase text-[20px] text-white ml-[20px] sm:ml-[50px] max-w-[330px] lg:ml-[20px] lg:text-[14px]">MANUAL DE CONSTRUCCION</p>
                    </div>
                    <img class="w-[27px] lg:mt-[20px] lg:ml-auto lg:mr-0 lg:w-[36px]" src="../../../assets/icons/arrow-right.png" alt="ver">
                </div>
            </li>        
        </ul>
    </div>
</div>
