* {
  font-family: "silka-medium";
}
.bg_capacitaciones {
  background-image: url("../../../../assets/img/banner_cursos.png");
  filter: brightness(65%);
}
.title {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  h6 {
    font-size: 16px;
  }
  h1 {
    font-size: 44px;
  }
}
.descripcion {
  color: white;
  font-size: 1.2rem;
  position: relative;
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .descripcion {
    color: white;
    font-size: 1.2rem;
    position: absolute;
    padding-left: 40px;
  }
  .contenedor {
    align-items: center;
    .descripcion {
      p {
        width: 100%;
      }
    }
    img {
      width: 70%;
    }
    .lupa {
      margin-top: 80px;
    }
  }
}
@media (min-width: 1024px) {
  .contenedor .lupa {
    margin-top: 0px;
  }
  .descripcion {
    width: 65%;
  }
}

/* .contenedor {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "imagen imagen"
      "titulo boton"
      "texto texto";
  }
  .contenedor .imagen {
    grid-area: imagen;
    img {
      min-width: 100%;
    }
  }
  .contenedor .titulo {
    grid-area: titulo;
    font-size: 25px;
    color: white;
  }
  .contenedor .boton {
    grid-area: boton;
    padding-top: 5px;
    padding-bottom: 10px;
    a {
      text-align: center;
    }
  }
  .contenedor .texto {
    grid-area: texto;
    font-size: 17px;
    color: #c4c4c4;
  }
  .title {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    h6 {
      font-size: 16px;
    }
    h1 {
      font-size: 44px;
    }
  }
  @media (min-width: 768px) {
    .contenedor {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "imagen imagen imagen"
        "titulo titulo boton"
        "texto texto  texto";
    }
  }
  
  @media (min-width: 1024px) {
    .contenedor {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "imagen titulo titulo"
        "imagen texto  boton"
        "imagen texto  boton";
    }
    .contenedor .titulo {
      padding-left: 40px;
    }
    .contenedor .texto {
      padding-left: 20px;
    }
    .contenedor .boton {
      max-width: 175px;
    }
  }
  @media (min-width: 1280px) {
    .contenedor {
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);
    }
    .contenedor .boton {
      max-width: 175px;
    }
    .contenedor .texto {
      padding-right: 30px;
    }
  }
  
  @media (max-width: 415px) {
    .contenedor {
      grid-template-areas:
        "imagen imagen imagen"
        "titulo titulo titulo"
        "boton  boton  boton"
        "texto  texto  texto";
    }
  }
   */
.margin {
  margin-top: 35px;
  margin-bottom: 15px;
}
