*{
    font-family: 'silka-medium';
}
.bg_banner_soluciones{
    background-image: url("../../../../assets/img/banner-videotips.png");
    filter: brightness(50%);
}

.title{
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    h6{
        font-size: 16px;
    }
    h1{
        font-size: 44px;
    }
}