*{
    font-family: 'silka-medium';
}
.table-results  tr {
    border-bottom:1px solid #ACACAC;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}
.table-results td{
    padding-top: 10px;
    padding-bottom: 10px;
}
.table-results td:first-child{
    text-align: left;
}
.table-results td:nth-child(2){
    text-align: center;
}
.table-results td:last-child{
    text-align: right;
}